.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 400px;
  height: 100px;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border-radius: 6px;
  background-color: white;
  font-family: "Chakra Petch", sans-serif;
  text-align: center;

  outline: none;
}

.content h2 {
  color: rgb(170, 20, 0);
  letter-spacing: 4px;
  margin-bottom: 2px;
}

.content p {
  font-size: 18px;
  font-weight: 200;
}
